<template>
  <div class="container">
    <div class="justify-center items-center flex flex-col">
      <img class="w-48" src="~/assets/logo.svg" alt="Logo" />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component({
  components: {}
})
export default class IndexPage extends Vue {}
</script>

<style lang="postcss">
.container {
  @apply min-h-screen flex justify-center items-center text-center mx-auto;
}
</style>
